header{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0;
    top: 0;
}

header img{
    width: 250px;
    transition: width 0.5s;
}

header img:hover{
    width: 280px;
}
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

#cover{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
}
#cover p{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.triangle{
    background-color: black;
    width: 0.1732px; /* (2√3)*h/3 */
	height: 0.15px; /* √3/2*w */
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
    display: none;
}


.triangle_img{
    background-color: white;
    width: 0.1732px; /* (2√3)*h/3 */
	height: 0.15px; /* √3/2*w */
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1003;
    display: none;
}

.triangle_img img{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle{
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 50%;
    height: 0;
    width: 0;
    z-index: 1001;
    display: none;
}


.characters{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5000;
}

.characters img{
    position: absolute;
}

.characters .ami{
    width: 400px;
    top: 1289px;
    left: 1680px;
    z-index: 5094;
}

.characters .ane{
    width: 400px;
    top: 1504px;
    left: 1691.5px;
    z-index: 5102;
}

.characters .chiwa{
    width: 400px;
    top: 1611px;
    left: 1857.5px;
    z-index: 5101;
}

.characters .cta{
    width: 400px;
    top: 1731.5px;
    left: 1582px;
    z-index: 5110;
}

.characters .fran{
    width: 400px;
    top: 1659px;
    left: 1746px;
    z-index: 5104;
}

.characters .gale{
    width: 400px;
    top: 1424px;
    left: 1555.5px;
    z-index: 5100;
}

.characters .han{
    width: 400px;
    top: 1687px;
    left: 1468.5px;
    z-index: 5109;
}

.characters .imo{
    width: 400px;
    top: 1775px;
    left: 1681.5px;
    z-index: 5110;
}

.characters .kyomu{
    width: 400px;
    top: 1282px;
    left: 1768.5px;
    z-index: 5090;
}

.characters .mike{
    width: 400px;
    top: 1530.5px;
    left: 1457.5px;
    z-index: 5100;
}

.characters .retoro{
    width: 400px;
    top: 1305px;
    left: 1970px;
    z-index: 5100;
}

.characters .sayu{
    width: 400px;
    top: 1419px;
    left: 1976.5px;
    z-index: 5101;
}

.characters .shigure{
    width: 400px;
    top: 1389px;
    left: 1678px;
    z-index: 5095;
}

.characters .takei{
    width: 400px;
    top: 1432px;
    left: 1933px;
    z-index: 5100;
}

.characters .via{
    width: 400px;
    top: 1280px;
    left: 1512px;
    z-index: 5090;
}

.characters .yoro{
    width: 400px;
    top: 1507px;
    left: 2019px;
    z-index: 5102;
}

.characters .yupi{
    width: 400px;
    top: 1700px;
    left: 1941px;
    z-index: 5103;
}

.characters .zen{
    width: 400px;
    top: 1608px;
    left: 1590px;
    z-index: 5100;
}
 
.left_menu{
    z-index: 6000;
    position: fixed;
    left: 30px;
    top: 15%;
    font-size: 15px;
    opacity: 0;
    display: none;
}

.left_menu p{
    margin-top: -10px;
    padding: 5px 20px;
    border-radius: 15px;
    transition: all 0.5s;
}

.left_menu p:hover{
    background-color: black;
    color: white;
    margin-left: 10px;
}

.right_menu{
    z-index: 6000;
    position: fixed;
    right: 30px;
    top: 15%;
    font-size: 15px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: right;
    opacity: 0;
    display: none;
}

.right_menu p{
    margin-top: -10px;
    padding: 5px 20px;
    border-radius: 15px;
    transition: all 0.5s;
}

.right_menu p:hover{
    background-color: black;
    color: white;
    margin-right: 10px;
}

.other_menu{
    z-index: 6000;
    position: fixed;
    right: 30px;
    bottom: 15%;
    font-size: 15px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: right;
    opacity: 0;
    display: none;
}

.other_menu p{
    margin-top: -10px;
    padding: 5px 20px;
}

.highlight{
    z-index: 5200 !important;
    filter: drop-shadow(0 0 20px white);
}

.backdrop{
    position: fixed;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7000;
    display: none;
    opacity: 0;
}

.profile{
    position: fixed;
    width: 1000px;
    height: 600px;
    z-index: 7100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.profile .profile_circle{
    position: absolute;
    background-color: black;
    width: 0;
    height: 0;
    border-radius: 50%;
    top: 50%;
    left: calc(50% - 200px);
    transform: translate(-50%, -50%);
    z-index: 7200;
}

.discription{
    z-index: 7206;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 400px;
    height: 270px;
    top: 20px;
    left: 670px;
    opacity: 0;
    color: white;
    padding: 20px 30px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.discription .name{
    font-size: 25px;
    margin: 0;
}
.discription .title{
    font-size: 22px;
    margin: 0;
}
.discription .content{
    font-size: 15px;
}
.discription .other{
    font-size: 15px;
}
.discription .twitter{
    position: absolute;
    top: 10px;
    right: 20px;
}
.discription .twitter .icon{
    width: 40px;
}

.profile .tatie{
    position: absolute;
    z-index: 7205;
    opacity: 0;
    width: 850px;
    top: -190px;
    left: 0;

}

.profile .back{
    position: absolute;
    bottom: 0;
    right: 100px;
    z-index: 8000;
    font-size: 30px;
    text-shadow: 0 0 10px white;
    transition: font-size 0.5s;
}

.profile .back:hover{
    font-size: 37px;
}

.leftgo, .rightgo{
    position: absolute;
    top: 70%;
    font-size: 40px;
    font-weight: bold;
    z-index: 8000;
    width: 56px;
    height: 56px;
    text-align: center;
    text-shadow: 0 0 10px white;
}

.leftgo{
    left:100px;
    transition: left 0.5s;
}

.leftgo:hover{
    left:90px;
}

.rightgo{
    right:100px;
    transition: right 0.5s;
}

.rightgo:hover{
    right:90px;
}

.discription .profile_tag{
    position: absolute;
    top: 100%;
    left: 0;
}

.discription .profile_tag span{
    padding: 0 10px;
    margin: 6px 3px;
    border-radius: 12px;
    display: inline-block;
    box-shadow: 0 0 5px black;
}

#page{
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 10000;
    overflow-y: scroll;
}